@model ECCI_IS_Lab01_WebApp.Models.Estudiante
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Estudiante</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EstudianteID)
        @Html.Hidden("ChangePaisId", null, new { @id = "ChangePaisId" })
        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido)
                @Html.ValidationMessageFor(model => model.Apellido)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FechaMatricula, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaMatricula)
                @Html.ValidationMessageFor(model => model.FechaMatricula)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CorreoElectronico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorreoElectronico)
                @Html.ValidationMessageFor(model => model.CorreoElectronico)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PaisId, "PaisId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("PaisId", (SelectList)ViewBag.Paises,
                new
                 {
                     onchange = "document.getElementById('ChangePaisId').value = document.getElementById('PaisId').value; this.form.submit(); " })

 @{
                <script>
                    document.getElementById("ChangePaisId").value = "";
                </script>}
                @Html.ValidationMessageFor(model => model.PaisId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CiudadId, "CiudadId", new
            {
                @class = "control-label col-md-2"
           })
            <div class="col-md-10">
                @Html.DropDownList("CiudadId", String.Empty)
                @Html.ValidationMessageFor(model => model.CiudadId)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}